.search-weather{
    color: #fff;
    height: 130px;
    margin-bottom: 75px;
}

.search-weather .wrapper { 
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 100%;
}

@media (max-width: 1024px) {
    .search-weather .wrapper { 
        grid-template-columns: 1fr;
    }
}

.search-container{
    background: #fff;
    height: 50px;
    border-radius: 30px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.8s;
    width: fit-content;
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
    -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}

@media (max-width: 1024px) {
    .search-weather .wrapper .search-container { 
        justify-self: center;
        margin-bottom: 25px;
    }
}

.search-container:hover > .search-input,
input.search-input:focus
{
    width: 200px;
}

@media (max-width: 1024px) {
    .search-container input.search-input{
        max-width: 200px;
        width: 100%;
    }
}


.search-container .search-input{
    background: transparent;
    border: none;
    outline:none;
    width: 0px;
    font-weight: 500;
    font-size: 16px;
    transition: 0.8s;
    
}

.search-container .search-btn path{
    color: #fff;
}

.search-container .search-btn {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background-color: #999999;
    cursor:pointer;
}

.search-weather .wrapper .favourite-box { 
    justify-self: end;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    transition: 0.8s;
}

@media (max-width: 1024px) {
    .search-weather .wrapper .favourite-box { 
        justify-self: center;
        text-align: center;
    }
}

.search-weather .wrapper .favourite-box .add-to-favourite { 
    margin-bottom: 22px;
}

.search-weather .wrapper .favourite-box .add-to-favourite:hover,
.search-weather .wrapper .favourite-box .favourite .city:hover{ 
    color: #999999;
    cursor: pointer;
}

.search-weather .wrapper .favourite-box .favourite {
    display: flex;
    justify-content: end;
}


.search-weather .wrapper .favourite-box .favourite .star-icon { 
    width: 24px;
    height: 24px;
    margin-right: 11px;
}

.search-weather .wrapper .favourite-box .favourite .city { 
    
}